<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary }}{{ end }}">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/fonts.css" />
  <script>
    // Immediately invoked function to set dark mode
    (function () {
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.classList.add('dark');
      }
    })();
  </script>
  {{ partial "head_custom.html" . }}
</head>

<body>
  <header>

  </header>
</body>
