{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
    {{ range $paginator.Pages }}
    <article>
      <div class="subtitle tags is-6 is-pulled-right">
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
      </div>
      {{if not .Date.IsZero }}<h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}.
        {{ .ReadingTime }} minutes read. {{ if .Params.pdf }} <a href="{{ .Params.pdf }}" target="_blank">PDF</a> {{ end }}</h2>{{ end }}
      <style type="text/css">
        .brxsmall {
          display: block;
          margin-bottom: -.9em;
        }
      </style>
      <span class="brxsmall"></span>

      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <div class="content">
        <p>{{ .Summary | plainify | safeHTML }} </p>
        {{ if .Truncated }}
        <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
          Read more
        </a>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}
