/* Place custom css here. */

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  src: url('/fonts/iosevka/iosevka-ss14-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Din Pro Regular';
  src: url('/fonts/DINPro.woff2') format('woff2');
}

